---
import Layout from '../layouts/Layout.astro';
import Ruleta from '../components/Ruleta.astro';
---

<Layout title="Ruleta Online Gratis | Sorteos y Decisiones Aleatorias">
	<main class="min-h-screen bg-gray-50 px-4 py-6">
		<h1 class="text-3xl font-bold text-center text-gray-800 mb-2">
			Ruleta Online Gratis
		</h1>
		<h2 class="text-center text-gray-600 mb-4">
			¡La forma más divertida de tomar decisiones en grupo!
		</h2>
		<Ruleta />
		<footer class="max-w-sm mx-auto text-center text-balance text-gray-600 mt-6 gap-2 text-xs">
			<p>
				App creada por <a href="https://facuperezm.com" class="text-blue-500 hover:text-blue-700">Facu</a>. Si te gustó 
			<a class="text-blue-500 hover:text-blue-700" href='https://cafecito.app/facuperezm' rel='noopener' target='_blank'> invitame un cafecito</a> ☕️

			</p>
			
		</footer>
	</main> 
</Layout>